@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LinqStudies.Models.Order
@{
    foreach(var Product in Model.Products)
    {
        <li>@Product.Name</li>

    }
}
@Model.Total